* {
  box-sizing: border-box;
  list-style-type: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: hsl(0, 0%, 98%);
}
header {
  margin: 50px auto;
  max-width: 500px;
  text-align: center;
}
h1 {
  font-weight: 200;
  margin: 0;
}
h1.strong {
  font-weight: 600;
}

p {
  color: hsl(229, 6%, 66%);
}

footer {
  text-align: center;
}
.container {
  display: flex;
  max-width: 1140px;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
}
.box {
  background-color: #fff;
  padding: 30px;
  width: 350px;
  margin: 15px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}
.box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 5px;
  width: 100%;
}
.box-red::after {
  background-color: hsl(0, 78%, 62%);
}
.box-cyan::after {
  background-color: hsl(180, 62%, 55%);
}
.box-orange::after {
  background-color: hsl(34, 97%, 64%);
}
.box-blue::after {
  background-color: hsl(212, 86%, 64%);
}

.box h3 {
  margin: 0;
}
.box img {
  display: block;
  margin-left: auto;
}
.box p {
  font-size: 1rem;
  margin: 15px 0 30px;
}
.box-push {
  transform: translateY(50%);
}

@media (max-width: 775px) {
  .box-push {
    transform: translateY(0);
  }
}
